@import '../../sass/mixins';

@keyframes color-change {
	0%,
	20%,
	40%,
	60%,
	100% {
		background-color: #fff;
	}
	10%,
	30%,
	50%,
	70%,
	90% {
		background-color: #f00;
	}
}

@keyframes spinning {
	0% {
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
	}
	50% {
		transform: rotate(180deg);
		-webkit-transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
	}
}

.pokeball-container {
	width: 50px;
	height: 50px;

	.pokeball {
		width: 50px;
		height: 50px;
		background-color: #fff;
		border-radius: 50%;
		position: relative;
		overflow: hidden;
		border: 0.1px #ccc solid;
		transform: rotate(38deg);

		&::before {
			content: '';
			background-color: red;
			border-radius: 5em 5em 0 0;
			width: 50px;
			height: 25px;
			position: absolute;
		}

		.pokeball-details {
			width: 50px;
			height: 3px;
			background-color: #34495e;
			position: absolute;
			top: 24.5px;

			&::before {
				content: '';
				width: 15px;
				height: 15px;
				border-radius: 50%;
				background-color: #34495e;
				position: absolute;
				top: -5px;
				left: 18px;
				z-index: 200;
			}

			&::after {
				content: '';
				width: 9px;
				height: 9px;
				border: 1px solid white;
				border-radius: 50%;
				background-color: #fff;
				position: absolute;
				top: -3px;
				left: 20.3px;
				margin: 0 auto;
				z-index: 250;
				animation: color-change 10s infinite;
			}
		}
	}
}
