@import '../sass/mixins';

.PokemonListContainer {
	width: 85%;
	margin: 0 auto;
	padding-top: 70px;

	h2 {
		font-size: 30px !important;
	}

	@include media(phone) {
		width: 98%;
		padding-top: 65px;
	}

	div {
		@include flex($justify-content: space-around);
	}
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.LoaderContainer {
	width: 100%;
	display: flex;
	justify-content: center !important;
	margin-top: 50px;

	img {
		width: 50px;
		animation: rotate 0.3s infinite;
	}
}
