@import '../sass/mixins';
.pokemonCardContainer {

	@include media(p-tablet) {
		width: 49%;
		min-height: 165px !important;
	}

	@include media(l-tablet) {
		min-height: 125px;
		width: 32.5%;
	}

	@include media(phone) {
		width: 49%;
			min-height: 165px !important;
	}

	@include media(laptop) {
		width: 24%;
	}

	@include media(desktop) {
		width: 19%;
	}
	transition: 1s;
	position: relative;

	.pokemonCard {
		width: 100%;
		height: 100%;
		position: relative;

		&:hover {
			box-shadow: 1px 1px 15px rgba(#000, 0.5);
			transform: scale(1.15);
			z-index: 4;
			.PokemonImgContainer {
				img {
					transform: scale(1.4) translateX(2.2em) translateY(-1em);
				}
				.decoration {
					transform: scale(1.5) skew(-20deg) translateX(0.5em) translateY(-0.5em);
				}
			}

			.pokemonCardContent {
				h2 {
					font-weight: bolder;
				}
			}
		}

		.pokemonCardContent {
			position: relative;
			width: 100%;
			padding: 10px 0 0 0;

			div {
				width: 100%;

				h2 {
					display: inline-block;
					width: 100%;
					font-size: 22px;
					white-space: nowrap;
					padding-left: 1em;
					overflow: hidden;
					text-overflow: ellipsis;

					@include media(phone) {
						font-size: 17px;
					}
				}
			}
		}

		.PokemonImgContainer {
			position: relative;
			overflow: visible;

			img {
				z-index: 3;
				transition: 0.2s all ease;
			}
			$size: 80px;
			.decoration {
				height: $size;
				width: $size;
				z-index: 2;
				margin: 1em 1em 0;
				border-radius: 100%;
				transform: skew(-20deg);
				transition: 0.2s all ease;
				position: absolute;
				right: calc(50% - #{$size});
				bottom: 1em;
			}
		}
	}
}

$grass: #28b463;
$poison: #9c27b0;
$fire: #e53935;
$flying: #7e57c2;
$water: #2196f3;
$bug: #fb8c00;
$normal: #5d6d7e;
$electric: #fbc02d;
$ground: #7d6608;
$fairy: #f48fb1;
$fighting: #a93226;
$psychic: #ec407a;
$steel: #aeb6bf;
$rock: #8d6e63;
$ice: #5499c7;
$ghost: #4a235a;
$dark: #2c3e50;
$dragon: #3300cc;
.grass {
	background: $grass !important;
}

.poison {
	@include cardBgColor($poison);
}

.fire {
	@include cardBgColor($fire);
}

.flying {
	@include cardBgColor($flying);
}

.water {
	@include cardBgColor($water);
}

.bug {
	@include cardBgColor($bug);
}

.normal {
	@include cardBgColor($normal);
}

.electric {
	@include cardBgColor($electric);
}

.ground {
	@include cardBgColor($ground);
}

.fairy {
	@include cardBgColor($fairy);
}

.fighting {
	@include cardBgColor($fighting);
}

.psychic {
	@include cardBgColor($psychic);
}

.steel {
	@include cardBgColor($steel);
}

.rock {
	@include cardBgColor($rock);
}

.ice {
	@include cardBgColor($ice);
}

.ghost {
	@include cardBgColor($ghost);
}

.dark {
	@include cardBgColor($dark);
}

.dragon {
	@include cardBgColor($dragon);
}

// #############################################################

.altGrass {
	@include altBgColor($grass);
}

.altPoison {
	@include altBgColor($poison);
}

.altFire {
	@include altBgColor($fire);
}

.altFlying {
	@include altBgColor($flying);
}

.altWater {
	@include altBgColor($water);
}

.altBug {
	@include altBgColor($bug);
}

.altNormal {
	@include altBgColor($normal);
}

.altGround {
	@include altBgColor($ground);
}

.altElectric {
	@include altBgColor($electric);
}

.altFairy {
	@include altBgColor($fairy);
}

.altFighting {
	@include altBgColor($fighting);
}

.altPsychic {
	@include altBgColor($psychic);
}

.altSteel {
	@include altBgColor($steel);
}

.altRock {
	@include altBgColor($rock);
}

.altIce {
	@include altBgColor($ice);
}

.altGhost {
	@include altBgColor($ghost);
}

.altDark {
	@include altBgColor($dark);
}

.altDragon {
	@include altBgColor($dragon);
}

// ###################################

.grassChip {
	@include chipColor($grass);
}

.poisonChip {
	@include chipColor($poison);
}

.fireChip {
	@include chipColor($fire);
}

.flyingChip {
	@include chipColor($flying);
}

.waterChip {
	@include chipColor($water);
}

.bugChip {
	@include chipColor($bug);
}

.normalChip {
	@include chipColor($normal);
}

.groundChip {
	@include chipColor($ground);
}

.electricChip {
	@include chipColor($electric);
}

.fairyChip {
	@include chipColor($fairy);
}

.ghostChip {
	@include chipColor($ghost);
}

.darkChip {
	@include chipColor($dark);
}

.fightingChip {
	@include chipColor($fighting);
}

.psychicChip {
	@include chipColor($psychic);
}

.rockChip {
	@include chipColor($rock);
}

.steelChip {
	@include chipColor($steel);
}

.iceChip {
	@include chipColor($ice);
}

.dragonChip {
	@include chipColor($dragon);
}
