@import '../../sass/mixins';
.statsContainer {
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	text-transform: capitalize;

	&:first-child {
		flex-wrap: wrap;
	}
	.PokemonProfileInfo {
		display: flex;
		display: inline-block;
		width: 33% !important;
	}

	.statsAbilities {
		margin-bottom: 20px;
		display: block !important;
		@include media(phone) {
			margin-bottom: 5px;
		}
	}

	& > .pokemonStats {
		width: 60% !important;

		@include media(phone) {
			padding-left: 0;
		}

		@include media(l-tablet) {
			padding-left: 10px;
		}
	}

	& > div {
		width: 30%;
		display: flex;
		flex-wrap: wrap;

		div {
			width: 90%;
			@include media(phone) {
				width: 98%;
			}
			display: flex;
			justify-content: space-between;

			& > span {
				display: inline-block;
				margin-top: 5px;
			}

			& > div {
				width: 100%;
				& > div {
					width: 80%;
					@include media(phone) {
						width: 50%;
					}
				}
			}
		}

		@include media(phone) {
			width: 98%;
		}
		.statTitle {
			display: inline-block;
			font-weight: bold;
			@include media(phone) {
				width: 50%;
			}
		}
	}
}

.my-0 {
	margin-top: 0;
	margin-bottom: 0;
}

.mb-n {
	margin-bottom: -8px;
}

.mb {
	margin-bottom: 8px;
}

.mr {
	margin-bottom: 8px;
}

.text-end {
	text-align: end;
}

.text-center {
	text-align: center;
}
