@import '../../sass/mixins';
.statsContainer {
	margin-top: 4em;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	text-transform: capitalize;
	font-size: 25px;

	@include media(p-tablet, phone) {
		margin-top: 4.5em;
	}

	&:first-child {
		flex-wrap: wrap;
	}
	.PokemonProfileInfo {
		display: flex;
		display: inline-block;
		width: 33% !important;
	}

	.statsAbilities {
		width: 100% !important;
		margin-bottom: 20px;
		display: block !important;
		@include media(phone) {
			margin-bottom: 5px;
		}
	}

	.mr {
		width: 40%;
		@include media(p-tabled, phone) {
			width: 100%;
		}
	}

	& > .pokemonStats {
		margin-bottom: 2xem;
		@include media(laptop) {
			padding-left: 10px;
		}
		@include media(phone, p-tabled) {
			padding-left: 0;
			width: 100% !important;
		}
		@include media(l-tablet) {
			padding-left: 10px;
			width: 50% !important;
		}

		h2 {
			width: 100%;
			text-align: left;
		}
	}

	& > div {
		width: 30%;
		display: flex;
		flex-wrap: wrap;

		div {
			width: 90%;
			@include media(phone) {
				width: 98%;
			}
			display: flex;
			justify-content: space-between;

			& > span {
				display: inline-block;
				margin-top: 5px;
			}

			& > div {
				width: 100%;
				& > div:not(.MuiLinearProgress-barColorPrimary) {
					width: 70%;
					@include media(phone) {
						width: 55%;
					}
				}
			}
		}

		@include media(phone) {
			width: 98%;
		}
		.statTitle {
			display: inline-block;
			font-weight: bold;
			font-size: 32px;
			@include media(phone) {
				width: 30%;
			}
		}
	}
}

.my-0 {
	margin-top: 0;
	margin-bottom: 0;
}

.mb-n {
	margin-bottom: -8px;
}

.mb {
	margin-bottom: 8px;
}

.mr {
	margin-bottom: 8px;
}

.text-end {
	text-align: end;
}

.text-center {
	text-align: center;
}
