@import url('https://fonts.googleapis.com/css?family=Bangers&display=swap');

* {
	font-family: 'Bangers', cursive !important;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html {
	background: #1f60bb;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

* {
	overflow: -moz-scrollbars-none;
}
*::-webkit-scrollbar {
	display: none !important;
}

#root {
	position: relative;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}

.App {
	overflow-y: auto;
	height: 100%;
	width: 100%;
}

.MuiInput-underline:before {
	border-bottom: 1px solid rgba(255, 255, 255, 0.7) !important;
}

.MuiInput-underline:hover:before {
	border-bottom: 2px solid rgba(255, 255, 255, 0.7) !important;
}

.MuiInput-underline:after {
	border-bottom: 2px solid #EC7063 !important;
}
